

* {
    box-sizing: border-box;
}

.deleteBtn{
    margin-left: 39%;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-logo);
    text-align: center;
}

.deleteBtn:hover{
    background-color: rgb(199, 27, 27);
    transition:  0.5s ease-in-out;
}

.container-artist {
    /* background-color: #E2E2DC; */
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
}

#title-artist {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 2em 0;
    font-weight: bold;
    /* color: #A31D21; */
    text-decoration: none;
}

/* #title-artist:hover{
    text-decoration: underline;
} */

#title-artist{
    transition-property: text-decoration;
    transition-duration: 5s;
    transition-timing-function: ease;
    transition-delay: 5s;
}


figure {
    background: whitesmoke;
    margin: 1em auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    list-style-type: none;
    padding: 1em;
}

figure img {
    max-width: 90%;
    margin: auto auto;
    height: auto;
    display: block;
}

figcaption {
    padding: 1.25em;
}

figcaption p {
    font-size: 100%;
    text-align: center;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
}


@media screen and (min-width: 400px) {
    figure {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    figure {
        width: 50%;
    }


}

@media screen and (min-width: 1024px) {
    figure {
        width: 30%;
    }
}

.container-img-artist {
    width: 90%;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-img-artist img {
    width: 18.75em;
    margin: 1em;
}

