{% extends "base.html" %}

{% block title %}
    Error de turno
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/errors/error.register.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<div class="container-error">
    <h1 class="title"> Error en el Registro del Turno</h1>
    <article>
        {% for error in variable.errors %}
        <p> {{ error }} </p>
        {% endfor %}
    </article>
</div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}