{% extends "base.html" %}

{% block title %}
    Lista de turnos
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script type="text/javascript" src="/public/js/mostViewAppointments.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-section">
    <h1 class="title title-form">Lista de turnos</h1>
    {% if variable.appointments %}
        {% if variable.link and (isArtist or isAdministrator) %}
            <a href="{{ variable.link }}" class="calendar-btn" target="_blank" rel="nofollow">Google calendar </a>
        {% endif %}
        <table class="width200">
            <thead>
                <tr>
                    <th scope="col">Tatuador</th>
                    <th scope="col">Local</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Nombre del usuario</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-content">
            {% for appointment in variable.appointments %}
                <tr data-appointment-id="{{ appointment.id_appointment }}">
                    <td>{{ appointment.id_artist }}</td>
                    <td>{{ appointment.id_local }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.hour }}</td>
                    <td>{{ appointment.id_user }}</td>
                    <td>{{ appointment.phone }}</td>
                    <td>{{ appointment.email }}</td>
                    <td>{{ appointment.status }}</td>
                    {% if (appointment.price is null) %}
                        <td> - </td>
                    {% else %}
                        <td>{{ appointment.price }}</td>
                    {% endif %}
                    <td>
                        {% if isArtist %}
                            {% if (appointment.status == 'pending') %}
                                <a href="/acept_appointment/{{ appointment.id_appointment }}" class="link accept-btn" id="acept-appointment-{{ appointment.id_appointment }}">Aceptar</a>
                            {% endif %}
                        {% endif %}
                        <a class="link view-btn" id="show-appointment-{{ appointment.id_appointment }}" href="/view_appointment/{{ appointment.id_appointment }}">Ver</a>
                        {% if isArtist %}
                            {% if (appointment.status == 'pending') %}
                                <a class="link edit-btn" id="edit-appointment-{{ appointment.id_appointment }}" href="/edit_appointment/{{ appointment.id_appointment }}">Editar</a>
                                <a class="link cancel-btn" id="destroy-appointment-{{ appointment.id_appointment }}" href="/del_appointment/{{ appointment.id_appointment }}">Cancelar</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p class="without-ap"> No hay turnos registrados hasta el momento </p>
    {% endif %}
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}