{% extends "base.html" %}

{% block title %}
    New Appointment
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script type="text/javascript" src="/public/js/validateForms.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

<section class="container-form">
    <h1 class="title title-form"> Solicitud de turno </h1>
    <article class="login-ap">
    {% if not variable.session %}
            Se necesita estar logueado para poder registrar un turno<br>
            <a href="/login">Iniciar sesión/Registrarse</a>
    {% else %}
        {% if session %}
            {% if not variable.adult %}
                <p class="red-alert">*Al ser menor de 18 años deberá asistir al establecimiento con su madre/padre/tutor*</p>
            {% endif %}
        {% endif %}
    </article>
    <form action="/save_appointment" method="post" name="form" enctype="multipart/form-data">
        <label for="fartist">Artista</label>
        <select id="fartist" name="id_artist">
            {% for artist in artists %}
                <option>{{ artist.id_user }}</option>
            {% endfor %}
        </select>

        <label for="date">Fecha</label>
        <input type="date" name="date" id="date" class="datejs" required>
        <p id="date-invalid" class="hide-alert">Ingrese una fecha valida</p>

        <label for="fhour">Horario (hh:min)</label>
        <input id="fhour" type="time" min="09:00" max="17:00" step="900" name="hour" class="hourjs" required>
        <p id="hour-invalid" class="hide-alert">Ingrese una hora valida (9am-5pm)</p>

        <label for="fimg">Imágenes de referencia </label>
        <input class="file" id="fimg" type="file" name="reference_image[]" accept="image/jpeg, image/x-png, image/x-jpg" multiple required>

       <fieldset class="illness">
            <label for="fillness"> ¿Posee enfermedades que considere relevantes a la hora de realizar un tatuaje/pircing? </label>
            <input id="fillness" class="checkbox" name="pathology" type="checkbox" onChange="comprobar(this);" />
            <textarea rows=10  class="disease pathologyjs valid-input" name="pathology-txt" id="pathology-txt" pattern="^[a-zA-Z0-9+-.: À-ÿ\u00f1\u00d1\u00E0-\u00FC]{3,70}$" title="Solo se permiten letras, numeros, espacios, y +-.:"></textarea>
            <p id="illness-invalid" class="hide-alert">Solo se admiten letras y numeros (3-70 caracteres)</p>
        </fieldset>

        <fieldset class="terms-conditions">
            <label for="terms">Acepto los <a class="terms" target="_blank" href="/term&cond">términos y condiciones</a></label>
            <input type="checkbox" class="checkbox terms termsjs" name="terms" id="terms" > 
        </fieldset> 

        <input class="reset-btn" type="reset" value="Limpiar" />
        {% if session %}
            <input class="submit-btn terms-uncheck" type="submit" id="send-btn2" disabled value="Enviar" />
        {% else %}
            <input class="submit-btn" type="submit" value="Enviar" disabled/>
        {% endif %}

        <p class="footer-form"> Todos los campos son obligatorios</p><br>
    {% endif %}
    </form>
</section>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}