{% extends "base.html" %}

{% block title %}
    New Appointment
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/newAp.css">
    <script type="text/javascript" src="/public/js/newAp.js"></script>
    <script type="text/javascript" src="/public/js/validateAp.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

    <form action="/save_appointment" method="post" id="form" name="form" enctype="multipart/form-data">
        <h1> Solicitud de turno </h1>


        {% if not variable.session %}
            (*) Se necesita estar logueado para poder registrar un turno<br>
            <a href="/login">Iniciar sesión/Registrarse</a>
        {% else %}

        {% if session %}
            {% if not variable.adult %}
                <p class="red-alert">*Al ser menor de 18 años deberá asistir al establecimiento con su madre/padre/tutor*</p>
            {% endif %}
        {% endif %}
        <label>
            Artista
            <select name="id_artist">
                {% for artist in artists %}
                    <option>{{ artist.id_user }}</option>
                {% endfor %}
            </select>
        </label>

        <label> Fecha: <input type="date" name="date" id="date" class="datejs" required></label>

        <label> Horario (hh:min): <input type="time" min="09:00" max="17:00" step="900" name="hour" required></label>

        <label> Imágenes de referencia <input type="file" name="reference_image[]" accept="image/jpeg, image/x-png, image/x-jpg" multiple></label>

        <section>
            <label> ¿Posee enfermedades que considere relevantes a la hora de realizar un tatuaje/pircing?
                <input name="pathology" type="checkbox" onChange="comprobar(this);" />
            </label>

            <textarea class="disease pathologyjs" name="pathology-txt" id="pathology-txt"
                      pattern="^[a-zA-Z0-9+-.: ]{3,70}$" title="Solo se permiten letras, numeros, espacios, y +-.:">
            </textarea>
        </section>

        <section>
            <label>
                <input type="checkbox" class="terms termsjs" name="terms" id="terms" > Acepto los <a class="terms" target="_blank" href="/term&cond">términos y condiciones</a>
            </label>
        </section>

        <div>
            <input class="button-newAp" type="reset" value="Limpiar" />

            {% if session %}
                <input class="button-newAp" type="submit" id="send-btn" disabled value="Enviar" />
            {% else %}
                <input class="button-newAp" type="submit" value="Enviar" disabled/>
            {% endif %}
        </div>

        <p class="footer-form"> Todos los campos son obligatorios</p><br>
        {% endif %}

    </form>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}