{% extends "base.html" %}

{% block title %}
    Turno
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/appointment/view.appointment.css">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

<section id="container-viewAp">

    <section id="container-dataAp">

        <h1 id="title-viewAp"> Datos del turno </h1>

        {% if (session) and (not variable.adult) %}
            <p class="red-alert">*El usuario al ser menor de 18 años deberá asistir al establecimiento con su madre/padre/tutor*</p>
        {% endif %}

        {% if variable.appointment.link %}
        <form method="get" action="{{ variable.appointment.link }}" target="_blank">
            <button class ="calendarBtn" type="submit">Google calendar</button>
        </form>
        {% endif %}

        <label> Usuario:
            <input type="text" name="id_user" readonly value="{{ variable.appointment.id_user }}">
        </label>

        <label> Artista:
            <input type="text" name="id_artist" readonly value="{{ variable.appointment.id_artist }}">
        </label>

        <label> Fecha:
            <input type="date" name="date" readonly value="{{ variable.appointment.date }}">
        </label>

        <label> Horario (hh:min):
            <input type="time" name="hour" readonly value="{{ variable.appointment.hour }}">
        </label>

        <label> Estado:
            <input type="text" name="status" readonly value="{{ variable.appointment.status }}">
        </label>

        {% if (variable.appointment.price is null) %}
        <label> Price:
            <input type="text" name="price" readonly value="-">
        </label>
        {% else %}
            <label> Price:
                <input type="text" name="price" readonly value="{{ variable.appointment.price }}">
            </label>
        {% endif %}


        {% if variable.appointment.txt %}
            <label> Enfermedades
                <textarea name="pathology-txt" id="pathology-txt"
                          pattern="^[a-zA-Z0-9+-.: ]{3,70}$" title="Solo se permiten letras, numeros, espacios, y +-.:" readonly> {{ variable.appointment.txt }}
                </textarea>
            </label>
        {% endif %}

<!--    <section>
            {% if variable.appointment.tattoo %}
                <label> Tattoo
                        <img src="data:image/jpg;base64, {{ variable.appointment.tattoo }}">
                </label>
            {% endif %}
        </section>-->

        <section>
            {% if isArtist %}

                {% if (variable.appointment.status == 'pending') %}
                    <form method="get" id="acept-appointment-{{ variable.appointment.id_appointment }}" action="/acept_appointment/{{ variable.appointment.id_appointment }}">
                        <input type="hidden" name="id_appointment" value={{ variable.appointment.id_appointment }}>
                        <button class ="acceptBtn" type="submit" form="acept-appointment-{{ variable.appointment.id_appointment }}">Acept</button>
                    </form>
                {% endif %}
                {% if (variable.appointment.status != 'annulled') %}
                <form method="get" id="edit-appointment-{{ variable.appointment.id_appointment }}" action="/edit_appointment/{{ variable.appointment.id_appointment }}">
                    <input type="hidden" name="id_appointment" value={{ appointment.id_appointment }}>
                    <button class ="editBtn" type="submit" form="edit-appointment-{{ variable.appointment.id_appointment }}">Edit</button>
                </form>
                {% endif %}
                {% if (variable.appointment.status == 'pending') %}
                    <form method="get" id="destroy-appointment-{{ variable.appointment.id_appointment }}" action="/del_appointment/{{ variable.appointment.id_appointment }}" onSubmit="return confirm('Desea eliminar el turno?');">
                        <input type="hidden" name="id_appointment" value={{ appointment.id_appointment }}>
                        <button class ="deleteBtn" type="submit" form="destroy-appointment-{{ variable.appointment.id_appointment }}">Delete</button>
                    </form>
                {% endif %}
            {% endif %}

        </section>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <section id="container-imgAp">
        {% if variable.appointment.reference_images %}
            <h1 class="title-imgAp">Imágenes de referencia</h1>
                <div id="container-all-img">
                    {% for reference_image in variable.appointment.reference_images %}
                    <img class="myImg" src="data:image/png;base64, {{reference_image}}" alt="imagen de tattoo de referencia">
                    {% endfor %}
                </div>
        {% else %}
            <h1 class="title-imgAp">No hay imágenes de referencia</h1>
        {% endif %}
    </section>

</section>



{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}