{% extends "base.html" %}

{% block title %}
    Turno
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<section class="container-form"> 
    <h1 class="title title-form"> Datos del turno </h1>
    {% if (session) and (not variable.adult) %}
        <p class="red-alert">*El usuario al ser menor de 18 años deberá asistir al establecimiento con su madre/padre/tutor*</p>
    {% endif %}
    {% if variable.appointment.link %}
        <a href="{{ variable.appointment.link }}">Google calendar</a>
    {% endif %}
    <label for="fuser"> Usuario </label>
    <input id="fuser" type="text" name="id_user" readonly value="{{ variable.appointment.id_user }}">
    <label for="fartist"> Artista </label>
    <input id="fartist" type="text" name="id_artist" readonly value="{{ variable.appointment.id_artist }}">
    <label for="fdate"> Fecha </label>
    <input id="fdate" type="date" name="date" readonly value="{{ variable.appointment.date }}">
    <label for="fhour"> Horario (hh:min) </label>
    <input id="fhour" type="time" name="hour" readonly value="{{ variable.appointment.hour }}">
    <label for="festado"> Estado </label>
    <input id="festado" type="text" name="status" readonly value="{{ variable.appointment.status }}">
    {% if (variable.appointment.price is null) %}
    <label for="fprice"> Price </label>
    <input id="fprice" type="text" name="price" readonly value="-">
    {% else %}
    <label for="fprice"> Price </label>
    <input id="fprice"type="text" name="price" readonly value="{{ variable.appointment.price }}">
    {% endif %}
    {% if variable.appointment.txt %}
    <label for="fillness"> Enfermedades </label>
    <textarea id="fillness" name="pathology-txt" id="pathology-txt" pattern="^[a-zA-Z0-9+-.: ]{3,70}$" title="Solo se permiten letras, numeros, espacios, y +-.:" readonly> {{ variable.appointment.txt }}</textarea>
    {% endif %}
   
    <figure id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <figcaption id="caption"></figcaption>
    </figure>
    
    {% if variable.appointment.reference_images %}
        <figure>
            {% for reference_image in variable.appointment.reference_images %}
            <img class="myImg img-edit" src="data:image/png;base64, {{reference_image}}" alt="imagen de tattoo de referencia">
            <figcaption class="text-img">Imágen(es) de referencia</figcaption>
            {% endfor %}
        </figure>
    {% else %}
        <p>No hay imágenes de referencia</p>
    {% endif %}
        
    {% if isArtist %}
        <h2 class="title">Acciones</h2>
        {% if (variable.appointment.status == 'pending') %}
        <a class="link accept-btn" id="acept-appointment-{{ variable.appointment.id_appointment }}" href="/acept_appointment/{{ variable.appointment.id_appointment }}">Aceptar</a>
        {% endif %}
        {% if (variable.appointment.status != 'annulled') %}
        <a class="link" id="edit-appointment-{{ variable.appointment.id_appointment }}" href="/edit_appointment/{{ variable.appointment.id_appointment }}">Editar</a>
        {% endif %}
        {% if (variable.appointment.status == 'pending') %}
        <a class="link cancel-btn" id="destroy-appointment-{{ variable.appointment.id_appointment }}" href="/del_appointment/{{ variable.appointment.id_appointment }}">Eliminar</a>
        {% endif %}
    {% endif %} 
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}