{% extends "base.html" %}

{% block title %}
Se ha registrado el turno
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-section">
    <h1 class="title title-form">Se ha registrado su turno</h1>
    {% if variable.appointment %}
        <table class="width200">
            <thead>
                <tr>
                    <th scope="col">Tatuador</th>
                    <th scope="col">Local</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Nombre del usuario</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ variable.appointment.id_artist }}</td>
                    <td>{{ variable.appointment.id_local }}</td>
                    <td>{{ variable.appointment.date }}</td>
                    <td>{{ variable.appointment.hour }}</td>
                    <td>{{ variable.appointment.id_user }}</td>
                    {% if (variable.appointment.price is null) %}
                        <td> - </td>
                    {% else %}
                        <td>{{ variable.appointment.price }}</td>
                    {% endif %}
                    <td>
                        <a href="/new_appointment">Nuevo Turno</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}