{% extends "base.html" %}

{% block title %}
    Editar usuario
{% endblock %}

{% block head %}
{{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script type="text/javascript" src="/public/js/validateForms.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-form">
    <h1 class="title title-form">Editar usuario</h1>
    <form action="/upt_user" method="post" name="form" enctype="multipart/form-data">
        <label for="fusername"> Username </label> 
        <input id="fusername" type="text" name="username" class="usernamejs" readonly value="{{ variable.user.id_user }}" pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9. ]+(?<![_. ])$" title="Solo se permiten letras/numeros/guion bajo/puntos, entre 8-20 caracteres" required>
        <p id="user-invalid" class="hide-alert">Solo se permiten letras/numeros/guion bajo/puntos, entre 8-20 caracteres</p>

        <label for="fname"> Nombre </label>
        <input id="fname" type="text" name="first_name" class="namejs" value="{{ variable.user.first_name }}" pattern="^[a-zA-Z ]{3,30}$" title="Solo se permiten letras y espacios" required >
        <p id="name-invalid" class="hide-alert">Solo se permiten letras y espacios</p>
    
        <label for="flastname"> Apellido </label> 
        <input id="flastname" type="text" name="last_name" class="surnamejs" value="{{ variable.user.last_name }}" pattern="^[a-zA-Z ]{3,30}$" title="Solo se permiten letras y espacios" required>
        <p id="surname-invalid" class="hide-alert">Solo se permiten letras y espacios</p>
        
        <label for="fborn"> Fecha de Nacimiento </label> 
        <input id="fborn" type="date" name="born" class="bornjs" value="{{ variable.user.born }}" required>
        <p id="born-invalid" class="hide-alert">Al ser menor de 18 años deberá asistir al establecimiento con su madre/padre/tutor</p>
        <p id="born2-invalid" class="hide-alert">Ingrese Fecha Valida</p>
        
        <label for="ftel"> Teléfono </label>
        <input id="ftel" type="tel" name="phone" class="phonejs" value="{{ variable.user.phone }}" pattern="^(?:(?:00)?549?)?0?(?:11|[2368]\d)(?:(?=\d{0,2}15)\d{2})??\d{8}$" title="El numero ingresado no coincide con el formato local">
        <p id="tel-invalid" class="hide-alert">El numero ingresado no coincide con el formato local</p>

        <label for="femail"> Email </label>
        <input id="femail" type="email" name="email" class="emailjs" value="{{ variable.user.email }}" required>
        <p id="email-invalid" class="hide-alert">El formato de mail ingresado no es correcto</p>
    
        <label for="fdni"> DNI </label> 
        <input id="fdni" type="text" name="nro_doc" class="identificationNumberjs" value="{{ variable.user.nro_doc }}" pattern="^\d{8}(?:[-\s]\d{4})?$" title="El dni debe tener 8 digitos" required>
        <p id="dni-invalid" class="hide-alert">El dni debe tener 8 digitos</p>
        
        <label for="faddress"> Dirección </label> 
        <input id="faddress" type="text" name="direction" class="addressjs" value="{{ variable.user.direction }}" pattern="^[a-zA-Z0-9 ]{3,50}$" title="Solo se permiten letras, numeros y espacios">
        <p id="dir-invalid" class="hide-alert">Solo se permiten letras, numeros y espacios</p>
        
        {% if variable.user.considerations != "-" %}
            <label for="fillness"> Enfermedades </label> 
            <input id="fillness" type="text" name="pathology" class="pathology-txt pathologyjs"  value="{{ variable.user.considerations }}" pattern="^[a-zA-Z0-9+-.: ]{3,70}$" title="Solo se permiten letras, numeros, espacios, y +-.: ">
            <p id="illness-invalid" class="hide-alert">Solo se permiten letras, numeros, espacios, y +-.: </p>
        {% endif %}

        {% if variable.user.considerations == "" %}
            <label for="fillness"> Enfermedades </label> 
            <input id="fillness" type="text" name="pathology" class="pathology-txt pathologyjs"  value="{{ variable.user.considerations }}" pattern="^[a-zA-Z0-9+-.: ]{3,70}$" title="Solo se permiten letras, numeros, espacios, y +-.: ">
            <p id="illness-invalid" class="hide-alert">Solo se permiten letras, numeros, espacios, y +-.: </p>
        {% endif %}

        <label for="fimg"> Foto de perfil </label>
        {% if variable.user.photo %}
        <figure>
            <img class="img-edit" src="data:image/png;base64, {{ variable.user.photo }}" alt="foto de perfil del usuario">
        </figure>
        {% endif %}
        <input class="file" id="fimg" type="file" name="photo_edit" accept="image/jpeg, image/x-png, image/x-jpg">

        {% if variable.user.id_artist %}
            <h2 class="title h2-form">Staff Info</h2>
            <input type="hidden" name="txt"  value="{{ variable.user.id_artist }}">
            <label> Descripción </label> 
            <input type="text" name="txt" class="descriptionjs" value="{{ variable.user.txt }}" pattern="^[a-zA-Z0-9?!¡¿.,; ]{3,300}$" title="Solo se permiten letras, numeros y espacios">
            <p id="summary-invalid" class="hide-alert">Solo se permiten letras, numeros, espacios, y +-.: </p> 
        {% endif %}
    
        <input type="submit" class="submit-btn" id="send-btn2" value="Guardar" />
        <input type="reset" class="reset-btn" value="Limpiar" />

        <p class="footer-form"> Todos los campos son obligatorios</p><br>
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}