{% extends "base.html" %}

{% block title %}
    Lista de usuarios
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-section">
    <h1 class="title title-form">Lista de Usuarios</h1>
    {% if variable.artists %}
        <table class="width200">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">F. de Nacimiento</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Artista</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for user in variable.artists %}
                <tr>
                    <td>{{ user.id_user }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.born }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.id_artist %}
                        <td>Sí</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>
                        <a class="link" id="show-user-{{ user.id_user }}" href="view_user/{{ user.id_user }}"> Ver </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="without-ap"> No hay usuarios registrados hasta el momento </p>
    {% endif %}
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}