{% extends "base.html" %}

{% block title %}
    Lista de usuarios
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/user/list.users.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<div class="container-listusers">
    <h1 class="title">Lista de Usuarios</h1>
    {% if variable.artists %}
        <table class="width200">
            <thead>
                <tr>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Artista</th>
                </tr>
            </thead>

            {% for user in variable.artists %}
                <tbody>
                    <tr>
                        <td>{{ user.id_user }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.born }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        {% if user.id_artist %}
                            <td>true</td>
                        {% else %}
                            <td>false</td>
                        {% endif %}
                        <td>
                            <form method="get" id="show-user-{{ user.id_user }}" action="view_user/{{ user.id_user }}">
                                <input type="hidden" name="id_user" value={{ user.id_user }}>
                                <button class ="table-button viewBtn" type="submit" form="show-user-{{ user.id_user }}">View</button>
                            </form>
                            <!!TODO agregar botones si sos admin para eliminar usuarios CAPAZ y agregar boton de eliminar artistas (este si o si) y se podria hacer un boton de ver los turnos que involucren a esa persona y/o artista!>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <div class="without-users">
            <p> No hay usuarios registrados hasta el momento </p>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}