{% extends "base.html" %}

{% block title %}
Usuario
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2020,Templates,PHP">
<link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
<script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>
{% endblock %}

{% block header %}
{{ include('header.views.html') }}
{{ include('nav.views.html') }}
<!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<section class="container-form"> 
    <h1 class="title title-form">Mi Perfil</h1>

    <label for="fusername"> Username </label> 
    <input id="fusername" type="text" readonly value="{{ variable.user['id_user'] }}">

    <label for="fname"> Nombre </label>
    <input id="fname" type="text" readonly value="{{ variable.user.first_name }}">

    <label for="flastname"> Apellido </label>
    <input id="flastname" type="text" readonly value="{{ variable.user.last_name }}">

    <label for="fborn"> Fecha de Nacimiento </label>
    <input id="fborn" type="date" readonly value="{{ variable.user.born }}">

    <label for="ftel"> Teléfono </label>
    <input id="ftel" type="tel" readonly value="{{ variable.user.phone }}">

    <label for="femail"> Email </label>
    <input id="femail" type="email" readonly value="{{ variable.user.email }}">

    <label for="fdni"> DNI </label>
    <input id="fdni" type="number" readonly value="{{ variable.user.nro_doc }}">
   
    <label for="faddress"> Dirección </label>
    <input id="faddress" type="text" readonly value="{{ variable.user.direction }}">

    {% if (variable.user.considerations) %}
    <label for="fillness"> Enfermedades </label>
    <input id="fillness"  readonly value="{{ variable.user.considerations }}"">    
    {% endif %}

    {% if variable.user.photo %}
    <figure id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <figcaption id="caption"></figcaption>
    </figure>
    <figure> 
        <img class="img-edit myImg" src="data:image/jpg;base64, {{ variable.user['photo'] }} " alt="Foto de perfil de usuario">
    </figure>    
    {% endif %}

    {% if (variable.user.id_artist) %}
        <h2 class="title h2-form">Staff Info</h2>
        <label for="flocal"> Local de atención </label>
        <p id="flocal" class="textarea"> {{ variable.user.local }} </p>
        <label for="fdescription"> Descripción </label>
        <p id="fdescription" class="textarea"> {{ variable.user.txt }} </p>
    {% endif %}
                
    {% if variable.user.id_user == user %}
    <a class="link" id="edit-user-{{ variable.user['id_user'] }}" href="/edit_user/{{ variable.user['id_user'] }}">Editar</a>
    <a class="link cancel-btn" id="del-user-{{ variable.user['id_user'] }}" href="/del_user/{{ variable.user['id_user'] }}"> Borrar Usuario</a>
    {% endif %}

</section>
{% endblock %}

{% block footer %}
{{ include('footer.views.html') }}
{% endblock %}