.wrapper {
  margin: 4em auto 2em;
}

.accordion__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.question-answer__accordion > .answer {
    display: none;
}

.active > .answer {
    display: block;
    padding-bottom: 1.3rem;
}

.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.question-answer__accordion {
  width: 80%;
  border-bottom: 1px solid #e8e8ea;
}

.title__accordion {
  font-size: 2em;
  margin: 1em auto;
  /* text-align: center; */
  margin-left: 10%;
}

.title__question {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1.4rem 0rem;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.active h3 {
  font-weight: 700;
}

.question img {
  align-self: center;
}

.table-button {
  background-color: var(--color-logo);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-faq {
  margin: 1em 0;
  margin-left: 10%;
  /* text-align: center; */
}

.select-bar #faqs {
  display: block;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.select-bar {
  margin-left: 10%;
  width: 40%;
}

/* @media (max-width: 700px) {

  .question-answer__accordion {
    width: 100%;
  }
  
  .title__accordion {
    text-align: center;
  }

} */

.answer-block {
  margin: 1% 0;
}

.visits {
  margin-top: 2.5%;
  color: var(--color-logo);
}

.manage-faqs form {
  display: inline;
}

.manage-faqs .editBtn {
  background-color: #202020;
}