{% extends "base.html" %}

{% block title %}
    Lista de artistas
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>

{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-section list-artists">
    <h1 class="title title-form">InkMaster's Team</h1>
    <p> ¡Entrá a conocer a nuestro equipo! Mirá el portfolio de nuestro staff para elegir tu próximo turno.</p>
    {% if variable.artists %}
    <section class="gallery">
        {% for artist in variable.artists %}
            <figure class="artist">
                {% if artist.photo %}
                    <a href="/view_artist/{{ artist.id_artist }}"><img class="artist-img" src="data:image/jpg;base64, {{ artist.photo }}" alt="Foto de perfil artista"></a>          
                {% endif %}
                <figcaption>
                    <a class="link" href="/view_artist/{{ artist.id_artist }}"> Ver {{ artist.id_artist }} </a>
                </figcaption>
            </figure>
        {% endfor %}
    </section>
    {% else %}
        <p> No hay artistas registrados hasta el momento </p>
    {% endif %}
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}