{% extends "base.html" %}

{% block title %}
    Lista de artistas
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/artist/list.artist.css">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>

{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<div class="artist-container">
    <h1 id="title">InkMaster's Team</h1>
    {% if variable.artists %}
        <div class="container">
            {% for artist in variable.artists %}
                <figure>
                    {% if artist.photo %}
                        <img src="data:image/jpg;base64, {{ artist.photo }}" alt="Foto de perfil artista">                      
                    {% endif %}
                    <figcaption>
                        <form method="get" action="/view_artist/{{ artist.id_artist }}">
                            <button class ="artistBtn" type="submit">{{ artist.id_artist }}</button>
                        </form>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    {% else %}
        <p id="no-artist"> No hay artistas registrados hasta el momento </p>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}