{% extends "base.html" %}

{% block title %}
    {{ variable.artist.id_user }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/view.artist.css">
    <script type="text/javascript" src="/public/js/view.artist.js"></script>

{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

    <div class="container-artist">

        <section id="example">
            <h1 id="title-artist">{{ variable.artist.id_user }}</h1>
        </section>
        <figure>
            {% if variable.artist.photo %}
                <img class="zoom" src="data:image/jpg;base64, {{ variable.artist.photo }}" alt="Foto de perfil artista">
            {% endif %}
            <figcaption>
                <p id="description-artist">{{ variable.artist.txt }}</p>
            </figcaption>
        </figure>
    </div>
    <div class="container-img-artist">
        {% for tattoo in variable.artist.tattoos %}
            <img class="zoom" src="data:image/png;base64, {{tattoo.image}}" alt="">
        {% endfor %}
    </div>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}