{% extends "base.html" %}

{% block title %}
    {{ variable.artist.id_user }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/artist/view.artist.css">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>
    

{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

    <div class="container-artist">

        <section id="example">
            <h1 id="title-artist">{{ variable.artist.id_user }}</h1>
        </section>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <!-- <figure>
            {% if variable.artist.photo %}
                <img class="myImg" src="data:image/jpg;base64, {{ variable.artist.photo }}" alt="Foto de perfil artista">
            {% endif %}
            <figcaption>
                <p id="description-artist">{{ variable.artist.txt }}</p>
            </figcaption>
        </figure> -->
        <div class="container-img-artist">
            {% for tattoo in variable.artist.tattoos %}
                <div>
                    <img class="myImg" src="data:image/png;base64, {{tattoo.image}}" alt="{{tattoo.txt}}">
                    {% if variable.artist.id_artist == user %}
                        <form method="get" id="delete-tattoo-{{ tattoo['id_tattoo'] }}" action="/delete_tattoo/{{ tattoo['id_tattoo'] }}">
                            <button class ="deleteBtn" type="submit" form="delete-tattoo-{{ tattoo['id_tattoo'] }}">Delete</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}