{% extends "base.html" %}

{% block title %}
    {{ variable.artist.id_user }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>

{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<article class="container-section list-artists">
    <h1 class="title title-form">{{ variable.artist.id_user }}</h1>
    <!-- The Modal -->
    <figure id="myModal" class="modal">
        <span class="close">&times;</span>
        <span class="modal-previous">&lt;</span>
        <img class="modal-content" id="img01">
        <span class="modal-next">&gt;</span>
        <figcaption id="caption"></figcaption>
    </figure>
    <section class="gallery">
        {% for tattoo in variable.artist.tattoos %}
            <figure>
                <img class="myImg artist-img" src="data:image/png;base64, {{tattoo.image}}" alt="{{tattoo.txt}}" data-tattoo-id="{{ tattoo.id_tattoo}}" data-artist-id="{{ tattoo.id_artist }}">
                {% if variable.artist.id_artist == user %}
                    <a class="link cancel-btn" id="delete-tattoo-{{ tattoo['id_tattoo'] }}" href="/delete_tattoo/{{ tattoo['id_tattoo'] }}">Borrar</a>
                {% endif %}
            </figure>
        {% endfor %}
    </section>
</article>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}