.user-container {
    width: 100%;
    margin: 4.5em 0 2em;
}

/* Floating column for labels: 25% width */
.col-left, .col-right {
    float: left;
    width: 50%;
}

.one-column {
    width: 100%;
}

.one-column .user-data {
    width: 40%;
}
 
/* Clear floats after the columns */
.row-user:after {
  content: "";
  display: table;
  clear: both;
}

.profile-picture #myImg {
    /* max-height: 100%; */
    height: 70%;
    width: 70%;
    padding: 2em;
}

.col-left {
    text-align: center;
}

.user-data {
    padding: 2em;
    width: 80%;
    margin: 0 auto;
}

.textarea, input[type=date], input[type=text], input[type=number], input[type=tel], input[type=email] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: small;
  }

.title {
    /* font-size: em; */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
}

.editBtn, .deleteBtn, .backBtn {
    background-color: #202020;
    margin: 1%;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.backBtn, .container-button form {
    display: inline;
}

.deleteBtn {
    background-color: var(--color-logo);
}

@media screen and (max-width: 1024px) {

    .col-left, .col-right {
        width: 100%;
    }

    .user-data {
        text-align: center;
    }

    .one-column .user-data {
        width: 80%;
    }
    
}