* {
    box-sizing: border-box;
}

#container-viewUser {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: column;
}

#title-viewUser,
#title-local {
    color: #575766;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0.5em;
}

#personal-data,
#local-data,
#container-button {
    width: 100%;
}

#container-button {
    padding: 1em;
}

#container-viewUser label {
    display: block;
    padding: 0.5em 0;
    text-align: center;
}

#personal-data{
    overflow: scroll;
    height: 100vh;
}

#container-viewUser label input,
#container-viewUser label textarea {
    display: block;
    width: 100%;
    margin: 0.3em auto;
    padding: 0.2em;
    height: 5vh;
    border: 1px solid var(--color-logo);
    text-align: left;
    background-color: whitesmoke;
    border-radius: 0.3125em;
    font-size: 100%;
}

.backBtn,
.editBtn,
.deleteBtn {
    display: inline-block;
    font-size: 100%;
    padding: 0.6em 0.6em;
    margin-top: 0.5em;
    appearance: none;
    color: white;
    border-radius: 0.1875em;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #202020;
}

.deleteBtn {
    background-color: #8B0000;
}

figure {
    background: whitesmoke;
    margin: 1em auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    list-style-type: none;
    padding: 1em;
    width: 50%;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
}

@media screen and (min-width:700px){

    #container-viewUser {
        flex-flow: row;
    }

    #personal-data{
        width: 50%;
    }

    #local-data {
        width: 50%;
    }

    #container-viewUser label input,
    #container-viewUser label textarea{
        width: 60%;
    }

    .backBtn,
    .editBtn,
    .deleteBtn {
        display: block;
        width: 30%;
        margin-top: 0.5em;
        margin-left: 10%;
    }
}


