<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}{% endblock %} - InkMaster</title>
        <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
        <script src="/public/js/base.js"> </script>
        <script type="application/ld+json" src="/public/js/seoTattooParlor.jsonld"></script>
    {% endblock %}
</head>
<body>
    <header class="main-header">{% block header %}{% endblock %}</header>
    <main>{% block main %}{% endblock %}</main>
    <footer class="main-footer container-footer-all">{% block footer %}{% endblock %}</footer>
</body>
</html>