{% extends "base.html" %}

{% block title %}
    Editar usuario
{% endblock %}

{% block head %}
{{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/edit.user.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section id="container-list">


    <form action="/upt_user" method="post" id="form" name="form" enctype="multipart/form-data">
        <h1 id="title-list">Editar usuario</h1>

        <label> Username: <input type="text" name="username" readonly value="{{ variable.user.id_user }}"></label>

        <label> Nombre: <input type="text" name="first_name"  value="{{ variable.user.first_name }}"></label>

        <label> Apellido: <input type="text" name="last_name"  value="{{ variable.user.last_name }}"></label>

        <label> Fecha Nac.: <input type="date" name="born" value="{{ variable.user.born }}"></label>

        <label> Telefono: <input type="tel" name="phone"  value="{{ variable.user.phone }}"></label>

        <label> Email: <input type="email" name="email"  value="{{ variable.user.email }}"></label>

        <label> DNI: <input type="text" name="nro_doc"  value="{{ variable.user.nro_doc }}"></label>

        <label> Direccion: <input type="text" name="direction"  value="{{ variable.user.direction }}"></label>

        <label> Enfermedades: <input type="text" name="pathology"  value="{{ variable.user.medical }}"></label>

        <label> Foto de perfil <br>
            {% if variable.user.photo %}
            <img src="data:image/png;base64, {{ variable.user['photo'] }}" style="max-width:20%;width:auto;height:auto;" >
            {% endif %}
            <input type="file" name="photo" accept="image/jpeg, image/x-png, image/x-jpg">
        </label>


        <div>
            <input class="button-editAp" type="submit" id="send-btn" value="Guardar" />

            <input class="button-editAp" type="reset" value="Limpiar" />
        </div>

        <p class="footer-form"> Todos los campos son obligatorios</p><br>
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}