{% extends "base.html" %}

{% block title %}
    Error de registro
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<article class="container-error">
    <h1 class="title-center"> Error en el Registro del Usuario</h1>
    {% for error in variable.errors %}
        <p> {{ error }} </p>
    {% endfor %}
</article>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}