{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/faq.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <section id="wrapper">
        <section>
            <article id="column1">
                <h1>Preguntas Frecuentes</h1>
                <p class="preg">pregunta? </p>
                <p>
                    Lorem iEarum reprehenderit dignissimos n totam mam sint, consectetur, quisquam sed.
                </p>
                <p>
                    Lorem iEarum reprehenderit dignissimos n totam mam sint, consectetur, quisquam sed.
                </p>
            </article>
        </section>
    </section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}