{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/faq.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <div id="wrapper">
        <section>
            <article id="column1">
                <p class="preg">pregunta? </p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas dolorum minima molestias debitis voluptatibus dolor, commodi, beatae fuga magnam a vel, esse et nisi aliquid similique impedit dolore placeat officiis?</article>
            <article id="column1">
                <p class="preg">pregunta? </p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ab laborum architecto recusandae dolorem vero totam beatae ratione, libero sit minus quas! Earum tempora illum, rem fugit consequuntur itaque quidem.</article>
            <article id="column1">
                <p class="preg">pregunta? </p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, nulla! Earum reprehenderit dignissimos fugit reiciendis enim in, nobis impedit culpa non totam molestias tempora voluptas numquam sint, consectetur,
                quisquam sed.</article>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}
