{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/faq.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <section id="wrapper">
        <h1>Preguntas Frecuentes</h1>
        <section>
            <!-- query a la bd, yo cargue ejemplos para probar -->
            {% for query in faq %}
                <article id="column1">
                    <a href="/faq2/{{ query.id_faq }}">
                        <p class="preg">{{ query.question }}</p>
                    </a>
                    <p> {{ query.answer }}</p>
                </article>
            {% endfor %}
            <!--esto queda como ejemplo-->
            <article id="column1">
                <a href="http://">
                    <p class="preg">pregunta? </p>
                </a> Lorem iEarum reprehenderit dignissimos n totam mam sint, consectetur, quisquam sed.
            </article>
        </section>
    </section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}