<div id="footer">
    <p>
        <span>Acerca de nosotros</span>
        {% if local %}
            {{ local.txt }}<br>
            Encontranos en {{ local.direction }}, {{ local.province }}, {{ local.country }}<br>
            {{ local.phone }}<br>
            {{ local.email }}<br>
        {% endif %}
    </p>
    <!--<div class="social-network">
        <a href="#"><i class="fab fa-facebook" id="icon-fb"></i></a>
        <a href="#"><i class="fab fa-instagram" id="icon-inst"></i></a>
        <a href="#"><i class="fab fa-twitter" id="icon-tw"></i></a>
        <a href="#"><i class="fab fa-youtube" id="icon-yt"></i></a>
    </div>-->
</div>