<section class="container-body">
    <section class="column" itemscope itemtype="http://schema.org/TattooParlor">
        <h1 class="title" itemprop="name"> INKMASTER </h1>
        <p itemprop="description">
            {% if local %}
                {{ local.txt }}
            {% endif %}
        </p>
        <p> Horarios de atención: Lunes a viernes de 8:00 a 17:00
            <meta itemprop="openingHours" content="Mo-Fr 08:00-17:00"/>
        </p>
        <p>
            <meta itemprop="paymentAccepted" content="Cash, Credit Card, Debit Card"/>
            Aceptamos: efectivo, tarjetas de débito y crédito
        </p>
    </section>
    <section class="column">
        <h1 class="title"> Redes sociales </h1> 
        <a class="social-network" rel="nofollow" href="https://www.facebook.com/inkmaster/" target="_blank"><i class="fab fa-facebook"></i> Síguenos en Facebook </a>
        <a class="social-network" rel="nofollow" href="https://www.instagram.com/inkmaster/?hl=es-la" target="_blank"><i class="fab fa-instagram "></i> Síguenos en Instagram </a>
        <a class="social-network" rel="nofollow" href="https://twitter.com/inkmaster" target="_blank"><i class="fab fa-twitter"></i> Síguenos en Twitter </a>
        <a class="social-network" rel="nofollow" href="https://www.youtube.com/channel/UCzrh2s9Vu9wUBf2Y2iIYcgA" target="_blank"><i class="fab fa-youtube"></i> Síguenos en YouTube </a>
    </section>
    <section class="column" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <h1 class="title"> Información de contacto </h1>
        <address class="address" itemscope itemtype="https://schema.org/ContactPoint">
            {% if local %}
                Encontranos en  <a href="https://goo.gl/maps/LfPyzvdqxCnWFwWn6" target="_blank" rel="nofollow"><span itemprop="streetAddress"> {{ local.direction }},</span>
                <span itemprop="postalCode">6700</span>
                <span itemprop="addressRegion">{{ local.province }}</span>,
                <span itemprop="addressCountry">{{ local.country }} </span></a> <br>
                Si querés contactarte con nosotros, podes llamarnos por teléfono al <span itemprop="telephone"> {{ local.phone }} </span> o enviarnos un email a <a href="mailto:inkmasterpaw@gmail.com" itemprop="email">{{ local.email }} </a>
            {% endif %}    
        </address>
    </section>
</section>
<section class="container-footer">
    <p class="copy-right"><i class="fas fa-copyright"></i> 2020 todos los derechos reservados INKMASTER </p>
</section>