<div class="container">
    <a href="/"><img class="logo" src="https://www.dafont.com/forum/attach/orig/5/2/523038.jpg"></a>

    <div class="social-network">
        <a href="#"><i class="fab fa-facebook" id="icon-fb"></i></a>
        <a href="#"><i class="fab fa-instagram" id="icon-inst"></i></a>
        <a href="#"><i class="fab fa-twitter" id="icon-tw"></i></a>
        <a href="#"><i class="fab fa-youtube" id="icon-yt"></i></a>
    </div>

    <div id="menu-toggle" class="menu_toggle" onClick="cambiarClase()">
        <div class="hamburger"></div>
    </div>
</div>
