{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/slider.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <script src="/public/js/slider.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    <div class="slide-container">
        <div class="miSlider fade">
            <img src="/public/css/slider/1.jpg" alt="">
        </div>
        <div class="miSlider fade">
            <img src="/public/css/slider/2.jpg" alt="">
        </div>
        <div class="miSlider fade">
            <img src="/public/css/slider/3.jpg" alt="">
        </div>
        <div class="miSlider fade">
            <img src="/public/css/slider/4.jpg" alt="">
        </div>
<!--        <div class="directions">-->
<!--            <a href="#" class="back" onclick="back(-1)">&#10094;</a>-->
<!--            <a href="#" class="next" onclick="next(1)">&#10095;</a>-->
<!--        </div>-->
        <div class="bars">
            <span class="bar active" onclick="positionSlide(1)"></span>
            <span class="bar" onclick="positionSlide(2)"></span>
            <span class="bar" onclick="positionSlide(3)"></span>
            <span class="bar" onclick="positionSlide(4)"></span>
        </div>
    </div>

    <div class="content">
        <section class="real-content">
            <div>
                <h2>Piercings</h2>
                <p>Miércoles, jueves y sábados, sin turno previo. Piezas de material certificado en oro, titanio y acero quirúrgico.
                    Mirá trabajos realizados!</p>
                <a href="/gallery"> Galería </a>
            </div>
            <img src="/public/css/index-content/1.jpg" alt="">
        </section>
        <section class="real-content">
            <div>
                <p>Desde la primera consulta hasta los días posteriores a tu visita, te acompañamos para que todo el proceso sea feliz.
                    Artistas con experiencia en diferentes estilos hacen realidad la pieza que buscás. Corré a verlos!</p>
                <a href="/artists"> Artistas </a>
            </div>
            <img src="/public/css/index-content/2.jpg" alt="">
        </section>
    </div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}