{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    <div id="container">
        {% if variable.msgWelcome %}
            <span><br>  {{ variable.msgWelcome }} <br></span>
        {% endif %}
        <span> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, dolor excepturi illum necessitatibus perspiciatis quam qui quidem repellendus tenetur. Amet aut autem hic id natus quas tempore, unde veritatis?</span>
    </div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}