{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script src="/public/js/slider.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<section class="main-section">
    <article class="slide-container">
        <figure class="miSlider fade">
            <img src="/public/images/slider/1.jpg" alt="Artista X en proceso de realización de un tatuaje bajo la técnica hand pocket">
            <figcaption>
                ¡Contamos con diversidad de Artistas en varios estilos para que puedas elegir el que más se adecúe a vos!
            </figcaption>
        </figure>
        <figure class="miSlider fade">
            <img src="/public/images/slider/2.jpg" alt="Preparando materiales, demostración de las tintas">
            <figcaption>
                Utilizamos materiales de primera calidad. <br>
                Para garantizar un buen resultado, trabajamos con primeras marcas como Eternal Ink y Dynamic Ink, líderes mundiales en el rubro. 
            </figcaption>
        </figure>
        <figure class="miSlider fade">
            <img src="/public/images/slider/3.jpg" alt="Artista X diseñando en una tablet gráfica">
            <figcaption>
                ¡Vení! Contanos tu idea y nosotros la hacemos real.
            </figcaption>
        </figure>
        <figure class="miSlider fade">
            <img src="/public/images/slider/4.jpg" alt="Artista X en la etapa de preparación de los transfer para las pruebas en el cuerpo">
            <figcaption>
                Realizamos todas las pruebas necesarias hasta que te sientas súper seguro y tranquilo de que estás 100% a gusto con el diseño.
            </figcaption>
        </figure>
        <div class="bars">
            <span class="bar active-slider" onclick="positionSlide(1)"></span>
            <span class="bar" onclick="positionSlide(2)"></span>
            <span class="bar" onclick="positionSlide(3)"></span>
            <span class="bar" onclick="positionSlide(4)"></span>
        </div>
    </article>
    <article class="piercings short-article">
        <header class="header-article">
            <h1>Piercings</h1>
            <p>
                Miércoles, jueves y sábados, sin turno previo. Piezas de material certificado en oro, titanio y acero quirúrgico.
                ¡Mirá trabajos realizados!
                <a class="link-btn-home" href="/gallery"> Galería </a>
            </p>
        </header>
        <footer class="footer-article">
            <figure>
                <img src="/public/images/home/1.jpg" alt="Diseño de flor en proceso">
                <figcaption>
                    Trabajo realizado en la Convención de Tatuajes de Rosario, Provincia de Santa Fe, Argentina; en el año 2018
                </figcaption>
            </figure>
        </footer>
    </article>
    <article class="artists short-article">
        <header class="header-article">
            <h1>Experiencia única con artistas capacitados</h1>
            <p>
                Desde la primera consulta hasta los días posteriores a tu visita, te acompañamos para que todo el proceso sea feliz.
                Artistas con experiencia en diferentes estilos hacen realidad la pieza que buscás. ¡Corré a verlos!
                <a class="link-btn-home" href="/artists"> Artistas </a>
            </p>
        </header>
        <footer class="footer-article">
            <figure>
                <img src="/public/images/home/2.jpg" alt="Imagen del estudio">
                <figcaption>
                    Sesión de fotos en nuestro estudio, para revista, en el año 2018.
                </figcaption>
            </figure>
        </footer>
    </article>
</section>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}