<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/errors/error.css">
</head>
<body>
    <div class="centered">
        <h1>500 Server Error</h1>
        <div class="container">
          <p class="message">Algo salió mal de nuestra parte. Actualmente estamos intentando solucionar el problema.</p>
          <p class="message"><a href="/">Recarga la página</a></p>
          <p class="message">Espera unos minutos</p>
        </div>
    </div>
</body>
</html>

