{% extends "base.html" %}

{% block title %}
    Galeria
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/gallery.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <h1 id="title">INKMASTER GANG</h1>
    {% if (variable.tattoos)%}
        <div id="container">
            {% for tattoo in variable.tattoos %}
            <img src="data:image/png;base64, {{tattoo.image}}" >
            {% endfor %}
        </div>
        {% if (variable.total_pages)%}
            <nav id="page_navigator">
                <ul>
                    {% if (variable.page == 1) %}
                        <li> <a href="#" class="disable";>Previous</a> </li>
                    {% else %}
                        <li> <a href="/gallery?page= {{variable.page-1}}">Previous</a> </li>
                    {% endif %}

                    {% for i in 1..variable.total_pages %}
                        <li> <a href="/gallery?page={{ i }}">{{i}}</a> </li>
                    {% endfor %}

                    {% if (variable.page == variable.total_pages) %}
                        <li> <a href="#" class="disable">Next</a> </li>
                    {% else %}
                        <li> <a href="/gallery?page= {{variable.page+1}}">Next</a> </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <!--    Este botón debería aparecer únicamente si es usuario autorizado para subir    -->
        <a class="img-btn" href="/upload_photos"
        >Subir fotos </a>
        <h2 id="warning_img"> No hay imágenes registrados hasta el momento </h2>
    {% endif %}

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}