{% extends "base.html" %}

{% block title %}
    Lista de turnos
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/list.users.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section id="container-list">
    <h1 id="title-list">Lista de Usuarios</h1>
    {% if variable.artists %}
        <table class="width200">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Primer nombre</th>
                    <th scope="col">Segundo nombre</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <!--<th scope="col">Artist</th>-->
                </tr>
            </thead>

            {% for user in variable.artists %}
                <tbody>
                    <tr>
                        <td>{{ user.id_user }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.born }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <!--{% if user.id_artist %}
                            <td>true</td>
                        {% else %}
                            <td>false</td>
                        {% endif %}-->
                        <td>
                            <form method="get" id="show-user-{{ user.id_user }}" action="view_user/{{ user.id_user }}">
                                <input type="hidden" name="id_user" value={{ user.id_user }}>
                                <button class ="table-button viewBtn" type="submit" form="show-user-{{ user.id_user }}">View</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p> No hay usuarios registrados hasta el momento </p>
    {% endif %}
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}