{% extends "base.html" %}

{% block title %}
    Lista de artistas
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/list.artist.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <h1 id="title">InkMaster's Team</h1>
    {% if variable.artists %}
        <div class="container">
            {% for artist in variable.artists %}
                <figure>
                    {% if artist.photo %}
                        <img src="data:image/jpg;base64, {{ artist.photo }}" alt="Foto de perfil artista">
                    {% endif %}
                    <figcaption>
                        <a href="/view_artist/{{ artist.id_artist }}">{{ artist.id_artist }}</a>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    {% else %}
        <p id="no-artist"> No hay artistas registrados hasta el momento </p>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}