{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/forms.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
<div class="container-form">
    <h1 class="title">Ingresar</h1>
    <form action="/save_login" method="post" enctype="multipart/form-data">
        
        <label for="fuser" >Usuario</label>
        <input id="fuser" type="text" name="id_user" placeholder="Ingrese su usuario" required>

        <label for="fpassword">Contraseña</label>
        <input id="fpassword" type="password" name="password" placeholder="Ingrese su contraseña" required>

        <div>
            <input type="submit" value="Iniciar sesión" />
            <a id="register" href="/new_user">Registrarse</a>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}