{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    <form class="general-form" action="/login2" method="post" enctype="multipart/form-data">
        <h2>Iniciar Sesión</h2>
        <label><b>Usuario: </b></label><br>
        <input type="text" name="id_user" placeholder="Ingrese su usuario" required><br>
        <label><b>Contraseña: </b></label><br>
        <input type="text" name="password" placeholder="Ingrese su contraseña" required><br>

        <input type="submit" class="submit-btn" value="Iniciar Sesión" />

        <a href="/register">Registrate <br></a>
    </form>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}