{% extends "base.html" %}

{% block title %}
    Login Error
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    <form action="/login" method="get" enctype="multipart/form-data" class="error-login">
        <h1>Error en el registro de usuario</h1>
        <h3>Usuario o contraseña erronea.</h3>
        <div id="button-form">
            <button type="submit" class="submit-btn"> Volver </button>
        </div>
    </form>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}