{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    <form class="general-form" action="/login2" method="post" enctype="multipart/form-data">
        <h1>Ingresar</h1>
        <label>Usuario:</label>
        <input type="text" name="id_user" placeholder="Ingrese su usuario" required>

        <label>Contraseña:</label>
        <input type="password" name="password" placeholder="Ingrese su contraseña" required>

        <button type="submit" class="submit-btn"> Iniciar sesión </button>
        <a class="submit-btn" href="/register">Registrate</a>
    </form>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}