<nav id="site-nav" class="site-nav">
    <ul>
        <li> <a href="/"> <i class="fas fa-home site-nav--icon"></i> Home </a></li>
        <li id="artists"> <a href="/artists"> <i class="fas fa-paint-brush site-nav--icon"></i>  Artistas </a>
            <ul>
                {% for artist in artists %}
                    <li><a href="#">{{ artist.id_user }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li> <a href="/gallery"> <i class="far fa-image site-nav--icon"></i> Galeria  </a></li>
        <li> <a href="/new_appointment"> <i class="fas fa-calendar-check site-nav--icon"></i> Solicitar turno </a></li>
        <li> <a href="/faq"><i class=" far fa-question-circle site-nav--icon"></i> FAQs </a></li>
        {% if session %}
            <li id="user"> <a href="#"><i class="fas fa-user site-nav--icon"></i> {{ user }} </a></li>
                <ul>
                    {% if permissions %}
                        <li> <a href="/list_appointment"><i class="fas fa-user site-nav--icon"></i> Lista de turnos </a></li>
                    {% endif %}
                    <li> <a href="/logout"><i class="fas fa-user site-nav--icon"></i> Logout </a></li>
                </ul>
        {% else %}
            <li> <a href="/login"><i class="fas fa-user site-nav--icon"></i> login </a></li>
        {% endif %}
    </ul>
</nav>