{% extends "base.html" %}

{% block title %}
    New Appointment
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/newAp.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    <div id="wrapper">
        <article id="column1">
            <form class="general-form" action="/save_appointment" method="post" enctype="multipart/form-data">
                <h1>Registro de Turno</h1>
                <label>
                    <b>Artista: </b>
                    <select name="artist">
                        <option>Juan</option>
                        <option>Pablo</option>
                        <option>Minguito</option>
                    </select>
                </label>
                <br>
                <label><b>Fecha de turno:(*)</b><input type="date" name="date" required></label><br>
                <label><b>Horario de turno(hh:min):(*)</b> <input type="time" min="08:00" max="17:00" step="900" name="hour" required></label><br>
                <label><b>Imagenes de referencia </b><input type="file" name="reference_image" accept="image/jpeg, image/x-png, image/x-jpg"></label><br>

                <label class="enfermedades" for=""><b class="enfermedades">Selecciona tus enfermedades/tratamientos:</b></label>
                <label for=""><input name="chemotherapy" type="checkbox" />Quimioterapia</label>
                <br />
                <label for=""><input name="anemia" type="checkbox" />Anemia</label>
                <br />
                <label for=""></label><input name="leukemia" type="checkbox" />Leucemia</label>
                <br />
                <label for=""></label><input name="thrombocytopenia" type="checkbox" />Trombocitopenia</label>
                <br />
                <label for=""></label><input name="acne" type="checkbox" />Acne</label>
                <br />
                <label for=""></label>
                    <input name="allergy" type="checkbox" />
                    Alergia
                    <input name="allergy-txt" type="text" />
                </label>
                <br />
                <label for=""></label><input name="G6PD_deficiency" type="checkbox" />Deficiencia de G6PD</label>
                <br />
                <label for=""></label><input name="diabetes" type="checkbox" />Diabetes</label>
                <br />
                <label for=""></label><input name="von_willebrand" type="checkbox" />Von Willebrand</label>
                <br />
                <label for=""></label><input name="hereditary_spherocytosis" type="checkbox" />Esferocitosis hereditaria</label>
                <br />
                <label for=""></label><input name="hemophilia" type="checkbox" />Hemofilia</label>

                <div class="btn">
                    <input class="boton-personalizado" type="reset" value="Limpiar" />
                    <input class="boton-personalizado" type="submit" value="Enviar" />
                </div>
                <p class="footer-form"> Los campos marcados como (*) son obligatorios </p>
            </form>
        </article>
    </div>
{% endblock %}
