<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/errors/error.css">
</head>
<body>
    <div class="centered">
        <h1>404 Page Not Found</h1>
        <div class="container">
          <p class="message">Acaba de ir a una página que no existe.</p>
        </div>
    </div>
</body>
</html>

