{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/newUser.css">
    <script type="text/javascript" src="/public/js/newUser.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

    <form action="/register2" method="post" enctype="multipart/form-data">
        <h1>Registro</h1>

        <label> Usuario: (*)
            <input type="text" name="id_user"
            pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._ ]+(?<![_.])$" title="Solo se permiten letras/numeros/guion bajo/puntos, entre 8-20 caracteres"
            required>
        </label>

        <label> Contraseña: (*)
            <input id="password" type="password" name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Debe contener al menos un numero, una letra minuscula y una mayusucula, por lo menos 8 carateres"
            required>
        </label>

        <label> Confirme contraseña: (*)
            <input type="password" name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Debe contener al menos un numero, una letra minuscula y una mayusucula, por lo menos 8 carateres"
            required>
        </label>

        <label> Nombres: (*)
            <input type="text" name="first_name"
            pattern="^[a-zA-Z ]{3,30}$" title="Solo se permiten letras y espacios"
            required>
        </label>

        <label> Apellidos: (*)
            <input type="text" name="last_name"
            pattern="^[a-zA-Z ]{3,30}$" title="Solo se permiten letras y espacios"
            required>
        </label>

        <label> Fecha de nacimiento: (*)
            <input type="date" name="born" required>
        </label>

        <label> Nro de Documento: (*)
            <input type="number" name="nro_doc"
            pattern="^\d{8}(?:[-\s]\d{4})?$" title="El dni debe tener 8 numeros"
            required>
        </label>

        <label>Teléfono:
            <input type="tel" name="phone"
            pattern="^(?:(?:00)?549?)?0?(?:11|[2368]\d)(?:(?=\d{0,2}15)\d{2})??\d{8}$" title="Solo se admiten numeros"
            >
        </label>

        <label> Dirección:
            <input type="text" name="direction"
            pattern="^[a-zA-Z0-9 ]{3,50}$" title="Solo se permiten letras, numeros y espacios"
            >
        </label>

        <label> Email: (*)
            <input type="email" name="email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Ej: ejemplo@hotmail.com"
            >
        </label>

        <label> Foto de perfil:
            <input type="file" name="photo" accept="image/jpeg, image/x-png, image/x-jpg">
        </label>

        <section>
            <label> ¿Posee patologías?
                <input name="pathology" type="checkbox" id="pathology" onChange="comprobar(this);" />
            </label>

            <textarea class="pathology-txt" name="pathology-txt" id="pathology-txt"></textarea>
        </section>

        <label> Tatuador:
            <input type="checkbox" name="artist" onChange="artists(this);">
        </label>

        <label id="description-artist"> Descripción:
            <textarea name="txt"
            pattern="^[a-zA-Z0-9 ]{0,100}$" title="Solo se permiten letras, numeros y espacios"
            ></textarea>
        </label>

        <label> Local:
            <input type="text" name="id_local" value="{{ local.id_local }}">
        </label>

        <section class="terms">
            <label>
                <input type="checkbox" name="terms" id="terms"> Acepto los <a class="terms" target="_blank" href="/term&cond">términos y condiciones</a>
            </label>
        </section>

        <input type="submit" value="Registrarse" />

        <a href="/login">Iniciar Sesión</a>

        <p class="footer-form"> Los campos marcados como (*) son obligatorios </p>
    </form>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}