<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Términos y Condiciones</title>
</head>
<body>
    <section>
        <h1>Términos y Condiciones</h1>
        <section>
            <article>
                <p>
                <h2>Introducción </h2>
                Las presentes condiciones de uso de la página web, regulan los términos de acceso y uso de www.motinktattoo.com, en adelante denominado “el Portal”, propiedad de Jonatan Arenas Blázquez y correo electrónico motinktattoo@gmail.com, en adelante, “la Empresa”,así
                como la venta de servicios de ejecución de tatuajes, en adelante denominados “Servicios” que el usuario del portal deberá aceptar para usar todos los servicios e información que se facilitan desde el portal. El usuario así como la Empresa,
                propietaria del portal, podrán ser denominados conjuntamente como las partes. El mero acceso o utilización del portal, de todos o parte de sus contenidos y servicios significa la plena aceptación de las presentes condiciones de uso. La
                puesta a disposición y el uso del portal se entiende sometida al estricto cumplimiento de los términos recogidos en las presentes condiciones de uso del portal.
                <h2>Informacion y servicios </h2>
                Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del Portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del Portal, bien por el Portal, bien por sus usuarios,
                bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas. Los usuarios pueden acceder a través del Portal a diferente tipo de información
                y servicios. La Empresa se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la presentación y configuración de la información y servicios ofrecidos desde el Portal. El usuario reconoce y acepta expresamente que
                en cualquier momento el Portal pueda interrumpir, desactivar y/o cancelar cualquier información o Servicio. El Portal realizará sus mejores esfuerzos para intentar garantizar la disponibilidad y accesibilidad a la web. No obstante, en
                ocasiones, por razones de mantenimiento, actualización, cambio de ubicación, etc., podrá suponer la interrupción del acceso al Portal.
                <h2> Responsabilidad del Portal sobre los contenidos </h2>
                El Portal no interviene en la creación de aquellos contenidos y/o servicios prestados o suministrados por terceras partes en y/o a través de la aplicación, del mismo modo que tampoco controla su licitud. En cualquier caso, no ofrece ninguna clase de garantía
                sobre los mismos. El usuario reconoce que la aplicación no es ni será responsable de los contenidos y/o servicios prestados o suministrados por terceras partes en y/o a través de la aplicación. El usuario acepta que el portal no asumirá
                responsabilidad alguna por cualquier daño o perjuicio producido como consecuencia de la utilización de esta información o servicios de terceros. Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la
                medida y extensión en que lo imponga, el portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios de la aplicación. En todo caso,
                el portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor,
                colaborador u otro.
                <h2> Obligaciones del Usuario </h2>
                El usuario deberá respetar en todo momento los términos y condiciones establecidos en el presente aviso legal. De forma expresa, el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse
                del incumplimiento de las normas. El usuario se obliga, en aquellos casos que se le soliciten datos o información, a no falsear su identidad haciéndose pasar por cualquier otra persona. El usuario acepta que la utilización del Portal será
                efectuada con fines estrictamente personales, privados y particulares. El usuario no podrá utilizar el portal para actividades contrarias a la Ley, la moral y el orden público así como para finalidades prohibidas o que vulneren o lesionen
                derechos de terceros. Asimismo, queda prohibida la difusión, almacenamiento y/o gestión de datos o contenidos que infrinjan derechos de terceros o cualesquiera normativas reguladoras de derechos de propiedad intelectual o industrial. Así
                mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir,
                destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones. El usuario se obliga a indemnizar y a mantener indemnes al portal por cualquier daño, perjuicio, sanción, multa, pena o indemnización
                que tenga que hacer frente el portal.
                <h2> Cumplimiento LOPD </h2>
                El portal adopta, para el tratamiento de los datos, todas las medidas técnicas y organizativas de seguridad que sean de obligación, de conformidad con lo establecido por la legislación vigente. El usuario manifiesta de forma expresa que cualquier dato
                personal o de un tercero al que acceda, introduzca, modifique o suprima tiene derecho a hacerlo o dispone de la autorización expresa de este tercero. El portal informa al usuario que podrá ejercer los derechos. dirigiéndose a la siguiente
                dirección: motinktattoo@gmail.com
                <h2> Propiedad intelectual e industrial </h2>
                Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente
                a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web
                del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido. En cualquier caso, el portal se reserva todos los
                derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente
                se detalle en las presentes condiciones generales de uso del portal.
                </p>
            </article>
        </section>
    </section>
</body>
</html>

