{% extends "base.html" %}

{% block title %}
    Cargar fotos
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/upd.photos.css">
    <script type="text/javascript" src="/public/js/upd.photos.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}

    <form method="post" action="/save_photos" enctype="multipart/form-data">
        <label>
            Profesional
            <select name="artist">
                {% for artist in artists %}
                <option>{{ artist.id_user }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Sector
            <select name="sector">
                <option>Cabeza</option>
                <option>Espalda</option>
                <option>Brazo</option>
                <option>Pecho</option>
                <option>Panza</option>
                <option>Costillas</option>
                <option>Pierna</option>
                <option>Pie</option>
                <option>Otro</option>
            </select>
        </label>
        <textarea name="description"></textarea>
        <label> Seleccionar imágenes:
            <input type="file" name="image" class="imagejs" accept="image/jpeg, image/x-png, image/x-jpg"> <!--multiple-->
        </label>

        {% if isArtist %}
            <input type="submit" disabled id="up-btn" value="Subir imágenes" />
        {% else %}
            <input type="submit" disabled value="Subir imágenes" />
        {% endif %}
    </form>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}