{% extends "base.html" %}

{% block title %}
    Turno
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/view.user.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

<section id="container-viewAp">
    <h1 id="title-viewAp">{{ variable.user["id_user"] }} </h1>

    <img src="data:image/jpg;base64, {{ variable.user['photo'] }} ">

    <table class="width200">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">DNI</th>
            <th scope="col">Direccion</th>
            <th scope="col">Enfermedades</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ variable.user["id_user"] }}</td>
            <td>{{ variable.user["first_name"] }}</td>
            <td>{{ variable.user["last_name"] }}</td>
            <td>{{ variable.user["born"] }}</td>
            <td>{{ variable.user["phone"] }}</td>
            <td>{{ variable.user["email"] }}</td>
            <td>{{ variable.user["nro_doc"] }}</td>
            <td>{{ variable.user["direction"] }}</td>
            {% if (variable.user["medical"] is null) %}
            <td> No tiene enfermedades </td>
            {% else %}
            <td>{{ variable.user["medical"] }}</td>
            {% endif %}
            <td>
                <button class ="table-button viewBtn" type="submit" onclick="history.back()">Volver</button>

                <form method="get" id="edit-user-{{ variable.user['id_user'] }}" action="edit_user/{{ variable.user['id_user'] }}">
                    <input type="hidden" name="id_user" value='{{ variable.user["id_user"] }}'>
                    <button class ="table-button viewBtn" type="submit" form="edit-user-{{ variable.user['id_user'] }}">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}