{% extends "base.html" %}

{% block title %}
    Turno
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/view.appointment.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

<section>
    <h1>Turno</h1>
    <table class="width200">
        <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Local</th>
            <th scope="col">Artista</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ variable.appointment["id_user"] }}</td>
            <td>{{ variable.appointment["id_local"] }}</td>
            <td>{{ variable.appointment["id_artist"] }}</td>
            <td>{{ variable.appointment["date"] }}</td>
            <td>{{ variable.appointment["hour"] }}</td>
            <td>
                <form method="get" id="show-appointment" action="new_appointment">
                    <input type="hidden" name="id_appointment" value="">
                    <button class ="table-button viewBtn" type="submit" form="show-appointment">Volver</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>



{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}