{% extends "base.html" %}

{% block title %}
    Usuario
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/view.user.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
    <!--{{ include('session.views.html') }}-->
{% endblock %}

{% block main %}

<section id="container-viewUser">
    <section id="personal-data">
        <h1 id="title-viewUser">{{ variable.user["id_user"] }} </h1>

        {% if variable.user.photo %}
            <figure>
                <img src="data:image/jpg;base64, {{ variable.user['photo'] }} ">
            </figure>
        {% endif %}

        <label> Nombre de usuario:
            <input type="text" name="id_user" readonly value="{{ variable.user.id_user }}">
        </label>

        <label> Nombre:
            <input type="text" name="first_name" readonly value="{{ variable.user.first_name }}">
        </label>

        <label> Apellido:
            <input type="text" name="last_name" readonly value="{{ variable.user.last_name }}">
        </label>

        <label> Nacimiento:
            <input type="date" name="born" readonly value="{{ variable.user.born }}">
        </label>

        <label> Nro de documento:
            <input type="number" name="nro_doc" readonly value="{{ variable.user.nro_doc }}">
        </label>

        <label> Teléfono:
            <input type="tel" name="phone" readonly value="{{ variable.user.phone }}">
        </label>

        <label> Dirección:
            <input type="text" name="direction" readonly value="{{ variable.user.direction }}">
        </label>

        <label> Email:
            <input type="email" name="email" readonly value="{{ variable.user.email }}">
        </label>

        {% if (variable.user.medical_record) %}
            <label> Enfermedades:
                <textarea name="pathology-txt" readonly > {{ variable.user.medical_record }} </textarea>
            </label>
        {% endif %}
    </section>

    <section id="local-data">
        {% if (variable.user.id_artist) %}
            <h2 id="title-local">Datos como artista</h2>
            <label> Local de atención:
                <input type="text" name="local" readonly value="{{ variable.user.local }}">
            </label>
            <label> Descripción:
                <textarea name="txt" readonly> {{ variable.user.txt }} </textarea>
            </label>
        {% endif %}
    </section>
</section>

<section id="container-button">
    <button class ="backBtn" type="submit" onclick="history.back()">Volver</button>
    {% if variable.user.id_user == user %}
    <form method="get" id="edit-user-{{ variable.user['id_user'] }}" action="/edit_user/{{ variable.user['id_user'] }}">
        <input type="hidden" name="id_user" value='{{ variable.user["id_user"] }}'>
        <button class ="editBtn" type="submit" form="edit-user-{{ variable.user['id_user'] }}">Edit</button>
    </form>
    <form method="get" id="delete-user-{{ variable.user['id_user'] }}" action="/del_user/{{ variable.user['id_user'] }}">
        <input type="hidden" name="id_user" value='{{ variable.user["id_user"] }}'>
        <button class ="deleteBtn" type="submit" form="delete-user-{{ variable.user['id_user'] }}">Delete</button>
    </form>
    {% endif %}
</section>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}