<?php

use Monolog\Logger as MonologLogger;
require_once __DIR__.'/vendor/autoload.php';

$dotenv = Dotenv\Dotenv::createImmutable(__DIR__);
$dotenv->load();

define( 'DB_NAME', $_ENV['DB_NAME'] );

$db = getenv('DATABASE_URL');

if ($db) {
    $dbopts = parse_url($db);
    $dsn_template = "%s:host=%s;port=%s;dbname=%s";
    $dbopts['dsn'] = sprintf(
        $dsn_template,
        'pgsql',
        $dbopts["host"],
        $dbopts["port"],
        ltrim($dbopts["path"],'/')
    );
} else {
    $dbopts = [
        "user" => $_ENV['DB_USER'],
        "pass" => $_ENV['DB_PASSWD'],
        "dsn" => $_ENV['DB_MOTOR'].':host='.$_ENV['DB_HOST'].':'.$_ENV['DB_PORT'].';dbname='.$_ENV['DB_NAME'].';charset=utf8',
    ];
}

return [
    'database' => [
        'username' => $dbopts['user'],
        'password' => $dbopts['pass'],
        'connection' => $dbopts['dsn'],
        'options' => [
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
        ]
    ],
    'logger' => [
        'level' => MonologLogger::INFO
    ],
    'twig' => [
        'templates_dir' => __DIR__ . '/app/views',
        'templates_cache_dir' => __DIR__ . '/app/views/cache'
    ]
];
