@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

* {
    box-sizing: border-box;
    --color-logo: #A31D21; /*Auburn*/
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr max-content;
    grid-template-areas:
            "encabezado encabezado"
            "navegador navegador"
            "principal autor"
            "pie pie";
    background-color: #FFFFFF;
    font-size: 100%;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    width: 100%;
    /* max-width: 1920px; */
    min-height: 100vh;
    margin: 0 auto;
}

nav {
    grid-area: navegador;
}

main {
    grid-area: principal;
    height: fit-content;
}

header{
    grid-area: encabezado;
    background-color: #202020; /* Davys grey*/
    width: 100%;
    position: relative;
}

footer {
    grid-area: pie;
    width: 100%;
}

header::after{
    content: '';
    clear: both;
    display: block;
}

/* nav styles */

/* this is the hamburger icon */
.nav-bar {
    padding: 1.25em;
    display: block;
    color: white;
    cursor: pointer;
    width: 100%;
}

.main-nav {
    height: 0;
}

.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    background-color: #202020;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
}

.menu__link {
    display: block;
    padding: 1.25em;
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    background-color: #444;
}

.submenu .menu__link:hover {
    background-color: #222;
}

.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.submenu .menu__link{
    background-color: #333;
    padding-left: 2.5em;
}

.menu i {
    margin-right: 0.5em;
}

.show {
  margin-left: 0;  
}

.row-down-submenu {
    margin-left: 0.5em;
}

@media(min-width:1024px) {
    .nav-bar {
        display: none;
    }

    .menu {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .menu__item {
        margin: 0 1em;
    }

    .container-submenu {
        position: relative;
    }
    
    .submenu {
        position: absolute;
        /* top: 3.75em; */
        width: 15em;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
}