* {
    padding: 0;
    margin: 0;
}

form {
    border: 1px solid var(--color-logo);
    width: 90%; /*Mobile first*/
    text-align: center;
    background-color: #FBF5EF;
    border-radius: 0.3125em;
    padding: 1em;
    margin: 1em auto;
    font-size: 1em;
}

h1 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    color: #575766;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

label {
    display: block;
    margin: 1em auto;
}

input,
select,
textarea {
    outline: none;
    box-shadow: none;
    display:block;
    height: 3em;
    border: 1px solid var(--color-logo);
    width: 80%;
    margin: 0.5em auto;
    text-align: center;
    overflow: hidden;
    border-radius: 1em;
}

input[type=submit] {
    margin: 1em auto;
    width: 30%;
    padding: 0.3125em 0;
    background-color: rgba(0, 0, 0, .4);
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 2.2em;
    cursor: pointer;
}

button{
    margin: 1em auto;
    width: 30%;
    padding: 0.3125em 0;
    background-color: #F25757;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 2.2em;
    cursor: pointer;
}

@media screen and (min-width:1000px) {
    form {
        width: 40%;
    }
}