* {
    box-sizing: border-box;
}

#container-list {
    padding: 1em;
}

#title-list {
    padding-bottom: 1em;
    font-size: larger;
    font-weight: bold;
    color: #575766;
}

tbody,
tr,
td,
th {
    border: 1px solid #CA4B1F;
}

form .table-button{
    display: inline-block;
    font-size: 100%;
    padding: 0.6em 0.6em;
    margin-top: 0.5em;
    -webkit-appearance: none;
    appearance: none;
    color: white;
    border-radius: 0.1875em;
    border: none;
    cursor: pointer;
    position: relative;
    width: 80%;
    text-transform: uppercase;
}

.acceptBtn {
    background-color: #3C7931;
}

.viewBtn{
    background-color: #202020;
}

.editBtn{
    background-color: #202020;;
}

.deleteBtn{
    background-color: #8B0000;
}

table.width200 {
    width: 100%;
    margin: 0.625em 0;
    background-color: whitesmoke;
}

.width200 th {
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
}

.width200 td {
    padding: 0.5em;
    text-align:center;
}

@media screen and (max-width: 1200px) {
    table.width200,
    .width200 thead,
    .width200 tbody,
    .width200 th,
    .width200 td,
    .width200 tr {
        display: block;
    }

    .width200 tbody {
        margin-top: 1em;
    }

    .width200 thead tr {
        position: absolute;
        top: -62.4375em;
        left: -62.4375em;
    }

    .width200 td {
        position: relative;
        padding-left: 40%;
        text-align: left;
    }

    .width200 td:before {
        position: absolute;
        top: 0.375em;
        left: 0.375em;
        width: 40%;
        padding-right: 0;
        white-space: nowrap;
    }

    .width200 td:nth-of-type(1):before {
        content: "Tatuador";
    }

    .width200 td:nth-of-type(2):before {
        content: "Local";
    }

    .width200 td:nth-of-type(3):before {
        content: "Fecha";
    }

    .width200 td:nth-of-type(4):before {
        content: "Hora";
    }

    .width200 td:nth-of-type(5):before {
        content: "Nombre";
    }

    .width200 td:nth-of-type(6):before {
        content: "Telefono";
    }

    .width200 td:nth-of-type(7):before {
        content: "Email";
    }

    .width200 td:nth-of-type(8):before {
        content: "Estado"; }

    .width200 td:nth-of-type(9):before {
        content: "Precio";
    }

    .width200 td:nth-of-type(10):before {
        content: "Acción";
    }

    #container-forms {
        display: flex;
        flex-wrap: wrap;
    }

    #container-forms form {
        width: 25%;
    }

    #container-forms form .table-button {
        width: 80%;
    }

}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width : 700px)
{
    .width200 td {
        overflow: hidden;
    }

    #container-forms {
        flex-direction: column-reverse;
    }

    #container-forms form, .table-button {
        width: 100%;
    }
}