body {
    align-items: center;
    justify-content: center;
}

form {
    border: 1px solid var(--color-logo);
    width: 90%;
    text-align: center;
    background-color: #FBF5EF;
    border-radius: 0.3125em;
    padding: 1em;
    margin: 1em auto;
    font-size: 1em;
}

h1 {
    padding-top: 2rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    color: #575766;
}

input {
    outline: none;
    box-shadow: none;
    display: block;
    height: 3em;
    border: 1px solid var(--color-logo);
    width: 50%;
    margin: 0.5em auto;
    border-radius: 1em;
    text-align: center;
}

label {
    display: block;
    margin: 0.5em auto;
}

#button-form {
    width: 100%;
}

.submit-btn {
    width: 50%;
    background-color: rgba(0, 0, 0, .4);
    border: 0;
    border-radius: 1em;
    display: block;
    margin: 1em auto;
    padding: 1em 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.submit-btn:hover{
        background-color: #A31D21;
        transition:  0.5s ease-in-out;
}



@media screen and (min-width:1000px) {

    form {
        width: 40%;
    }
}
