* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

#wrapper {
    width: 80%;
    margin: auto auto;
}

article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 2%;
}

#column1 {
    width: 100%;
}

b {
    display: inline-block;
    width: 50%;
    padding-top: 5%;
    font-weight: normal;
}

input {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
}

input[type=submit] {
    margin-top: 5%;
    margin-left: 10%;
}

input[type=reset] {
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, .4);
}

input[type=checkbox] {
    margin-top: 0%;
    background-color: rgba(0, 0, 0, .4);
}

.footer-form {
    margin-top: 5%;
    text-align: center;
}

.enfermedades {
    width: 100%;
}

label {
    margin-left: 10%;
    margin-right: auto;
}

form {
    width: 50%;
    height: 100%;
    background-color: #fbf5ef;
    border: 1px solid var(--color-logo);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 5px;
}

.boton-personalizado {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, .4);
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

.terminos {
    margin-left: 0%;
    padding-top: 0%;
    margin-top: 5%;
}

.enf {
    width: 70%;
    margin-left: 10%;
    height: 20%;
}

.list-enf {
    margin-top: 2%;
    padding-top: 2%;
}

input[type=checkbox] {
    width: 5%;
    text-align: left;
    color: black;
}