*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.slide-container{
    width:100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.miSlider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

/*.directions{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    font-size: 1.25em;*/
/*}*/

/*.directions a{*/
/*    color: #ffff;*/
/*    display: inline-block;*/
/*    padding: 1.25em;*/
/*    text-decoration: none;*/
/*}*/

/*.directions a:hover{*/
/*    background: rgba(0, 0, 0, .5);*/
/*    transition: .5s;*/
/*}*/

.bars {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:1em;
}

.bar {
    height:0.125em;
    width: 1.6em;
    margin: 0 0.125em;
    background: #dcdde1;
    display: inline-block;
}

.active{
    background-color: #e74c3c;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to{opacity:1;}
}