form {
    border: 1px solid var(--color-logo);
    width: 50%;
    text-align: center;
    background-color: #FBF5EF;
    border-radius: 0.3125em;
    padding: 1em;
    margin: 1em auto;
    font-size: 1em;
}

label {
    display: block;
}

input[type=file] {
    display: block;
    height: 3em;
    width: 50%;
    margin: 0.5em auto;
    overflow: hidden;
}

input[type=submit] {
    width: 80%;
    padding: 0.3125em 0;
    background-color: rgba(0, 0, 0, .4);
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 2.2em;
    cursor: pointer;
}

@media screen and (min-width:700px){
    input[type=submit] {
        width: 25%;
    }
}