{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block head %}
{{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/faq/faq.edit.css">
    <script type="text/javascript" src="/public/js/validateNewFaq.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section id="wrapper">

    <section>
        <article id="column1">
            <form action="/upd_faq" method="post" id="form" name="form" enctype="multipart/form-data">

            <h1>Editar Faq</h1>

                <input type="hidden" name="id_faq" readonly value="{{ variable.faq.id_faq }}">

                <label> Pregunta: <input type="text" name="question" class="questionjs" required value="{{ variable.faq.question }}"
                                         pattern="^[a-zA-Z0-9?!¡¿.,; ]{3,100}$" title="Solo se permiten letras, numeros, espacios, y ?!¡¿.,+- ">
                </label>

                <label> Respuesta: <input type="text" name="answer" class="answerjs" required value="{{ variable.faq.answer }}"
                                          pattern="^[a-zA-Z0-9?!¡¿.,; ]{3,300}$" title="Solo se permiten letras, numeros, espacios, y ?!¡¿.,+- ">
                </label>
                <label> Descripcion: <input type="text" name="summary" class="descriptionjs" required value="{{ variable.faq.summary }}"
                                            pattern="^[a-zA-Z0-9?!¡¿.,; ]{3,300}$" title="Solo se permiten letras, numeros, espacios, y ?!¡¿.,+- ">
                </label>

                <input class="button-editFaq" type="submit" id="send-btn" value="Guardar" />

            </form>
        </article>
    </section>
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}