{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script type="text/javascript" src="/public/js/faqFilter.js"></script>
    <script type="application/ld+json" src="/public/js/SEO/seoFaqs.jsonld"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-section faq-container">
    <h1 class="title title-form">FAQ's</h1>
    {% if isAdministrator %}
        <a class="link" href="/add_faq">Nueva Pregunta</a>
    {% endif %}
    <label class="styled-select" for="faqs">Filtrar por </label>
    <select name="faqs" class="styled-select" onchange="getFaqs(this.value)">
        <option value="MoreRecent">Mas Recientes</option>
        <option value="LessRecent">Menos recientes</option>
        <option value="MorePopular">Mas populares</option>
        <option value="LessPopular">Menos populares</option>
    </select>
    <article class="accordion__wrapper" id="content">
        {% for query in variable.faqs %}
            <details class="question-answer__accordion" data-faq-id="{{ query.id_faq }}">
                <summary class="question">
                    <h1 class="title__question">
                        {{ query.question }}
                    </h1>
                    <img src="/public/images/icon-arrow-down.svg" >
                </summary>
                <p class="answer-block"> {{ query.answer }} </p>
                <p class="answer-block">{{ query.summary }} </p>
                <p class="answer-block visits"> Total de visitas: {{ query.visits }} </p>
                {% if isAdministrator %}
                <p class="answer-block">
                    <a class="link-faq" id="edit-faq-{{ query.id_faq }}" href="/edit_faq/{{ query.id_faq }}">Editar</a>
                    <a class="link-faq" id="destroy-faq-{{ query.id_faq }}" href="/del_faq/{{ query.id_faq }}">Borrar</a>
                </p>
                {% endif %}
            </details>
        {% endfor %}
    </article>
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}