{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/faq.css">
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <section id="wrapper">
        <h1>Preguntas Frecuentes</h1>

        {% if isAdministrator %}
            <form method="get" id="add-faq" action="/add_faq">
                <input type="hidden" name="add_faq" value="add_faq">
                <button class ="table-button addBtn" type="submit" form="add-faq">Nueva Pregunta</button>
            </form>
        {% endif %}

        <section id="content">
            <!-- query a la bd -->
            {% for query in variable.faqs %}
                <article id="column1">
                    <section itemscope>
                        <a href="/view_faq/{{ query.id_faq }}">
                            <p itemprop="name" class="preg">{{ query.question }}</p>
                        </a>
                        <p itemprop="description"> {{ query.answer }}</p>
                    </section>

                    {% if isAdministrator %}
                        <section>
                            <form method="get" id="edit-faq-{{ query.id_faq }}" action="/edit_faq/{{ query.id_faq }}">
                                <input type="hidden" name="id_faq" value={{ query.id_faq }}>
                                <button class ="table-button editBtn" type="submit" form="edit-faq-{{ query.id_faq }}">Edit</button>
                            </form>

                            <form method="get" id="destroy-faq-{{ query.id_faq }}" action="/del_faq/{{ query.id_faq }}" onSubmit="return confirm('Desea eliminar la pregunta?');">
                                <input type="hidden" name="id_faq" value={{ query.id_faq }}>
                                <button class ="table-button deleteBtn" type="submit" form="destroy-faq-{{ query.id_faq }}">Delete</button>
                            </form>
                        </section>
                    {% endif %}

                </article>
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}