{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/faqFilter.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/faq/faq.css">

{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <section id="wrapper">
        <h1>Preguntas Frecuentes</h1>

        {% if isAdministrator %}
            <form method="get" id="add-faq" action="/add_faq">
                <input type="hidden" name="add_faq" value="add_faq">
                <button class ="table-button addBtn" type="submit" form="add-faq">Nueva Pregunta</button>
            </form>
        {% endif %}

        <section class="select-bar">
            <label for="faqs">Filtrar por:  </label>
            <select name="faqs" id="faqs" class="styled-select" onchange="getFaqs(this.value)">
                <option value="MoreRecent">Mas Recientes</option>
                <option value="LessRecent">Menos recientes</option>
                <option value="MorePopular">Mas populares</option>
                <option value="LessPopular">Menos populares</option>
            </select>
        </section>

        <section id="content">
            <!-- query a la bd -->
            {% for query in variable.faqs %}
                <article id="column1">
                    <section id="section-del" itemscope>
                        <a href="/view_faq/{{ query.id_faq }}">
                            <p itemprop="name" class="preg">{{ query.question }}</p>
                        </a>
                        <p class="answer" itemprop="description"> {{ query.answer }}</p>
                    </section>


                    </tbody>

                    {% if isAdministrator %}
                        <section id="section2-del">
                            <form method="get" id="edit-faq-{{ query.id_faq }}" action="/edit_faq/{{ query.id_faq }}">
                                <input type="hidden" name="id_faq" value={{ query.id_faq }}>
                                <button class ="table-button editBtn" type="submit" form="edit-faq-{{ query.id_faq }}">Edit</button>
                            </form>

                            <form method="get" id="destroy-faq-{{ query.id_faq }}" action="/del_faq/{{ query.id_faq }}" onSubmit="return confirm('Desea eliminar la pregunta?');">
                                <input type="hidden" name="id_faq" value={{ query.id_faq }}>
                                <button class ="table-button deleteBtn" type="submit" form="destroy-faq-{{ query.id_faq }}">Delete</button>
                            </form>
                        </section>
                    {% endif %}

                </article>
            
            {% endfor %}
        </section>
                <div id="datos"></div>
    </section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}