{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/faq/faq.views.css">
    <script type="application/ld+json" src="/public/js/SEO/seoFaqs.jsonld"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
    <section id="wrapper">
        <section>
            <a href="/faq">
                <h1>Preguntas Frecuentes</h1>
            </a>
            <article id="column1">
                    <p class="preg"> {{ variable.faq.question }} </p>
                    <p class="answer"> {{ variable.faq.answer }} </p>
                    <p class="summary"> {{ variable.faq.summary }} </p>
                    <p class="visits"> Total de visitas: {{ variable.faq.visits }} </p>
            </article>
        </section>
    </section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}