{% extends "base.html" %}

{% block title %}
    Galeria
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>
    <script type="text/javascript" src="/public/js/mostViewTattoos.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<section class="container-section list-artists">
    <h1 class="title title-form">INKMASTER GANG</h1>
    {% if (variable.tattoos)%}
        <figure id="myModal" class="modal">
            <span class="close">&times;</span>
            <span class="modal-previous">&lt;</span>
            <img class="modal-content" id="img01">
            <span class="modal-next">&gt;</span>
            <figcaption id="caption"></figcaption>
        </figure>
        <section class="gallery">
            {% for tattoo in variable.tattoos %}
            <figure>
                <img class="myImg artist-img" src="data:image/png;base64, {{tattoo.image}}" alt="{{tattoo.txt}}" data-tattoo-id="{{ tattoo.id_tattoo }}">
            </figure>
            {% endfor %}
        </section>
    {% else %}
        <p> No hay imágenes registrados hasta el momento </p>
        {% if isArtist %}
        <a class="link" href="/upload_photos">Subir fotos</a>
        {% endif %} 
    {% endif %}
</section>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}