{% extends "base.html" %}

{% block title %}
    Galeria
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <link rel="stylesheet" type="text/css" href="/public/css/tattoo/gallery.css">
    <link rel="stylesheet" type="text/css" href="/public/css/modal-images/gallery.modal.css">
    <script type="text/javascript" src="/public/js/gallery.modal.images.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/mostViewTattoos.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}
<div class="gallery-container">
    <h1 id="title">INKMASTER GANG</h1>
    {% if (variable.tattoos)%}
        <div id="container">
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" onClick="if(event.stopPropagation){event.stopPropagation();}event.cancelBubble=true;" id="img01">
                <div id="caption"></div>
            </div>
            {% for tattoo in variable.tattoos %}
                <img class="myImg" src="data:image/png;base64, {{tattoo.image}}" alt="{{tattoo.txt}}">
            {% endfor %}
        </div>
        {% if (variable.total_pages)%}
            <nav id="page_navigator">
                <ul>
                    {% if (variable.page == 1) %}
                        <li> <a class="btn-pag" href="#" class="disable";>Anterior</a> </li>
                    {% else %}
                        <li> <a class="btn-pag" href="/gallery?page= {{variable.page-1}}">Anterior</a> </li>
                    {% endif %}

                    {% for i in 1..variable.total_pages %}
                        <li> <a class="btn-pag" href="/gallery?page={{ i }}">{{i}}</a> </li>
                    {% endfor %}

                    {% if (variable.page == variable.total_pages) %}
                        <li> <a class="btn-pag" href="#" class="disable">Siguiente</a> </li>
                    {% else %}
                        <li> <a class="btn-pag" href="/gallery?page= {{variable.page+1}}">Siguiente</a> </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <div class="without-img">
            <p class="text"> No hay imágenes registrados hasta el momento </p>
            {% if isArtist %}
            <a class="text" href="/upload_photos">Subir fotos</a>
            {% endif %} 
        </div> 
    {% endif %}
</div>
{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}