{% extends "base.html" %}

{% block title %}
    Cargar fotos
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2020,Templates,PHP">
    <script type="text/javascript" src="/public/js/validateForms.js"></script>
{% endblock %}

{% block header %}
    {{ include('header.views.html') }}
    {{ include('nav.views.html') }}
{% endblock %}

{% block main %}

<section class="container-form">
    <form method="post" action="/save_photos" enctype="multipart/form-data">
        <label for="fprofesional">Profesional</label>
        <input type="text" name="artist" id="fprofesional" class="" value="{{ variable['artist'] }}" disabled>
        
        <label for="fsector">Sector</label>
        <select id="fsector" name="sector">
            <option>Cabeza</option>
            <option>Espalda</option>
            <option>Brazo</option>
            <option>Pecho</option>
            <option>Panza</option>
            <option>Costillas</option>
            <option>Pierna</option>
            <option>Pie</option>
            <option>Otro</option>
        </select>
  
        <label for="fdescription">Descripción</label>
        <textarea id="fdescription" name="description" style="height:200px" class="descriptionjs"></textarea>
        <p id="summary-invalid" class="hide-alert">Ha ingresado caracteres no validos(3-80 caracteres)</p>
        
        <label for="fimage">Seleccionar imágenes</label>
        <input id="fimage" type="file" name="image" class="file imagejs" accept="image/jpeg, image/x-png, image/x-jpg"> <!--multiple-->
  
        {% if isArtist %} 
        <input type="submit" disabled class="submit-btn" id="up-btn" value="Subir imágenes" />
        {% else %}
        <input type="submit" disabled class="submit-btn" value="Subir imágenes" />
        {% endif %}
    </form>
</section>

{% endblock %}

{% block footer %}
    {{ include('footer.views.html') }}
{% endblock %}