.gallery-container {
    margin: 4.5em auto 2em;
}

#container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

#title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 1em 0;
    font-weight: bold;
}

.myImg{
    width: 18.75em;
    margin: 1em;
}

img.logo{
    float: right;
    max-width: 50%;
    min-height: 100%;
    height: auto;
    display: block;
}

#warning_img {
    font-weight: bold;
    color: var(--color-logo);
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

.without-img {
    text-align: center;  
    margin-bottom: 1em;
}

.without-img .text {
    margin-bottom: 1em;
}

.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
}

#preload_gallery {
    position: absolute;
    align-self: self-end;
}

@media screen and (max-width: 1024px) {

    .gallery-container {
        margin: 2em auto 2em;
    }
    
}