#container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}

#title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 2em 0;
    font-weight: bold;
}

.myImg{
    width: 18.75em;
    margin: 1em;
}

img.logo{
    float: right;
    max-width: 50%;
    min-height: 100%;
    height: auto;
    display: block;
}

#warning_img {
    font-weight: bold;
    color: var(--color-logo);
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

#page_navigator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
}

#page_navigator > ul {
    display: flex;
    flex-flow: row;
    padding: 1em;
}

#page_navigator li {
    padding: 0.5em;
}

.img-btn {
    width: 20%;
    background-color: rgba(0, 0, 0, .4);
    border: 0;
    border-radius: 1em;
    display: block;
    margin: 1em auto;
    padding: 1em 0;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.disable {
    pointer-events: none;
    cursor: default;
    opacity: 0.6
}

.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
}
