.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 3.125em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 43.75em;
  text-align: center;
  color: #ccc;
  padding: 0.625em 0;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close, .modal-next, .modal-previous {
  position: absolute;
  color: #f1f1f1;
  font-weight: bold;
  transition: 0.3s;
  font-size: 2.5em;
  cursor: pointer;
}

.modal-previous{
  left: 3vw;
}

.modal-next, .close {
  right: 3vw;
}

.modal-previous, .modal-next {
  top: 50vh;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media screen and (max-width: 1024px) {
  .close {
    top: 1em;
  }

  .modal-previous, .modal-next {
    top: 5em;
  }

  .modal-previous{
    left: 5vw;
  }
  
  .modal-next, .close {
    right: 5vw;
  }
}