h1 {
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 1em;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    color: #575766;
}

article {
    width: 80%;
    margin: auto auto;
    background-color: #c7c7c7;
}

p {
    padding-top: 1%;
    margin-bottom: 1%;
}

