.container-error {
    margin: 4.5em auto;
    width: 80%;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.container-error p {
    text-align: center;
    margin: 1em auto;
}

