@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.internal-error, .not_found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #202020;
  color: #FFFFFF;
}

.title  {
  margin-bottom: 2em;
  font-size: 2em;
}

.message {
  line-height: 1.2;
  transition: line-height .2s, width .2s;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  font-size: 1.125em;
  margin: 1em auto;
}